[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/seanwilliamcarroll/hugo-profile
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = git@github.com:dillonzq/LoveIt.git
